@media screen and (max-width: 768px) {
    .pricing-intro h6 {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .pricing div {
      margin-bottom: 2rem;
    }
  
    //FAQ
    .faq {
      text-align: center;
      padding-top: 1.5rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }